@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  background:#fff;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  max-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: relative;
  height: 990px;
  background: url(../img/intro-background.jpg) center center/cover no-repeat;
}
.header .row {
  height: 132px;
  align-items: center;
}
.header .header-top .col-4, .header .header-top .col-8 {
  padding: 0;
}
.header .header-top .nav ul {
  display: flex;
}
.header .header-top .nav ul li {
  margin: 0 29px;
}
.header .header-top .nav ul li a {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: color 0.2s linear;
}
.header .header-top .nav ul li a:hover {
  padding-bottom: 20px;
  border-bottom: 1px solid #e74c3c;
  color: #e74c3c;
}
.header .header-top .nav ul li:last-child {
  margin: 0 0 0 30px;
}
.header .header-intro .col-12 {
  text-align: center;
}
.header .header-intro h3 {
  margin-top: 195px;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.header .header-intro h1 {
  margin-top: 50px;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}
.header .header-intro .underline {
  margin: 45px 0;
}
.header .header-intro p {
  margin: 0 auto;
  width: 580px;
  color: #cbc6c0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.header .header-intro .buttons {
  margin-top: 65px;
}
.header .header-intro button {
  margin: 0 15px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.header .header-intro .btn1 {
  border-radius: 3px;
  padding: 22px 50px;
  background: #e74c3c;
  transition: background 0.2s linear;
}
.header .header-intro .btn1:hover {
  background: transparent;
  border: 1px solid #fff;
  padding: 21px 46px;
}
.header .header-intro .btn2 {
  border-radius: 3px;
  padding: 22px 70px 22px 70px;
  background: #e74c3c;
  transition: background 0.2s linear;
}
.header .header-intro .btn2:hover {
  background: transparent;
  border: 1px solid #fff;
  padding: 20px 69px 18px 69px;
}
.header .anchor {
  bottom: -32px;
  display: block;
  animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  animation-duration: 700ms;
  animation-name: white-circle;
  animation-direction: alternate;
  cursor: pointer;
}
@keyframes white-circle {
  0% {
    bottom: -32px;
  }
  100% {
    bottom: -52px;
  }
}

header.header .header-fixed {
  background: rgba(231, 76, 60, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11000;
  left: 0;
  animation-name: fixed-header;
  animation-duration: 2s;
}
header.header .header-fixed .row {
  height: 70px;
}

@keyframes fixed-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.features {
  padding-bottom: 115px;
  border-bottom: 2px solid #f4f5f9;
}
.features .col-12 {
  text-align: center;
  margin-top: 150px;
}
.features .col-12:hover .icon {
  border: 1px solid #e74c3c;
  transform: rotate(45deg);
}
.features .col-12:hover img {
  transform: rotate(-45deg);
}
.features .col-12:hover .icons1 {
  padding: 15px 0;
}
.features .col-12:hover .icons2 {
  padding: 12px 0;
}
.features .col-12:hover .icons3 {
  padding: 8px 0;
}
.features .col-12:hover .icons4 {
  padding: 10.5px 0;
}
.features .col-12:hover h3 {
  color: #e74c3c;
}
.features .icon {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  transition: transform 0.2s linear;
}
.features .icon img {
  transition: transform 0.2s linear;
}
.features .icon .icons1 {
  padding: 16px 0;
}
.features .icon .icons2 {
  padding: 13px 0;
}
.features .icon .icons3 {
  padding: 9px 0;
}
.features .icon .icons4 {
  padding: 11.5px 0;
}
.features h3 {
  transition: color 0.2s linear;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #6a6a6a;
}
.features p {
  color: #6a6a6a;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}
.features .underline2 {
  margin: 20px auto;
  height: 1px;
  width: 40px;
  display: block;
  position: relative;
}
.features .underline2 span {
  left: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #6a6a6a;
}

.history .row {
  padding: 140px 0;
}
.history .row .col-12 {
  padding: 0;
}
.history .row h1 {
  padding-left: 30px;
  border-left: 6px solid #e74c3c;
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 700;
  color: #6a6a6a;
}
.history .row p {
  margin-top: 50px;
  color: #999999;
  line-height: 2.1;
}
.history .row button {
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 19px 39px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  transition: background 0.2s linear, color 0.2s linear;
}
.history .row button:hover {
  background: transparent;
  color: #e74c3c;
}

.services {
  position: relative;
  height: 760px;
  background: #202020;
  position: relative;
  text-align: right;
}
.services .circlee {
  position: absolute;
  top: 200px;
  z-index: 100;
  left: -36.5px;
}
.services .services-circle {
  width: auto;
  margin-top: 70px;
  height: auto;
}
.services .col-12 {
  position: relative;
  padding: 0;
}
.services .col-12 img.laptop {
  width: 100%;
  height: 760px;
  position: relative;
  z-index: 1;
}
.services h1 {
  text-transform: uppercase;
  padding-right: 30px;
  border-right: 6px solid #e74c3c;
  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-top: 140px;
  margin-right: 60px;
}
.services .description h3 {
  margin-top: 60px;
  right: 0;
  margin-right: 75px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e74c3c;
  font-size: 18px;
  font-weight: 500;
}
.services .description p {
  color: #999999;
  line-height: 2.1;
  margin-right: 75px;
  margin-top: 15px;
}

.works-header {
  text-align: center;
  height: 370px;
}
.works-header h1 {
  text-transform: uppercase;
  margin-top: 140px;
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
}
.works-header p {
  font-size: 14px;
  color: #999999;
  margin-top: 30px;
}
.works-header img {
  margin-top: 25px;
}
.works-header nav.works-nav {
  margin-top: 65px;
}
.works-header nav.works-nav ul {
  display: flex;
  justify-content: center;
}
.works-header nav.works-nav ul li {
  margin: 0 15px;
}
.works-header nav.works-nav ul li a {
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s linear;
}
.works-header nav.works-nav ul li a:hover {
  color: #e74c3c;
}
.works-header nav.works-nav ul li.current a {
  color: #e74e3e;
}

.works-gallery .hide {
  display: none;
}
.works-gallery img {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100%;
}
.works-gallery img:hover {
  z-index: 1;
}
.works-gallery .hover-content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: background-color 0.2s linear;
}
.works-gallery .hover-content:hover {
  z-index: 11;
  background-color: rgba(231, 76, 60, 0.8);
}
.works-gallery .hover-content:hover p, .works-gallery .hover-content:hover h3 {
  color: #fff;
}
.works-gallery .hover-content:hover .line:before {
  background-color: #fff;
}
.works-gallery .hover-content .line {
  width: 45px;
  margin-bottom: 30px;
  height: 4px;
}
.works-gallery .hover-content .line:before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: transparent;
  top: 0;
  width: 45px;
  transition: background-color 0.2s linear;
}
.works-gallery .hover-content .hover-text {
  padding-left: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.works-gallery .hover-content p {
  margin-bottom: 50px;
  font-size: 14px;
  color: transparent;
  transition: color 0.2s linear;
}
.works-gallery .hover-content p span {
  margin: 0 5px;
}
.works-gallery .hover-content h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: transparent;
  margin-bottom: 20px;
  transition: color 0.2s linear;
}

.study {
  background: #f4f5f9;
  padding-bottom: 150px;
}
.study .study-header {
  text-align: center;
  padding-top: 150px;
}
.study .study-header h1 {
  font-size: 36px;
  font-weight: 700;
  color: #6a6a6a;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.study .study-header p {
  color: #999999;
  font-size: 14px;
  margin-top: 30px;
}
.study .study-header img {
  margin-top: 25px;
  margin-bottom: 65px;
}
.study .idea {
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -70px;
  z-index: 2;
  top: 40px;
  text-align: center;
  background-color: #fff;
  width: 660px;
  height: 630px;
}
.study .idea img {
  padding-top: 80px;
}
.study .idea h1 {
  padding-bottom: 30px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: #6a6a6a;
  text-transform: uppercase;
  padding-top: 55px;
}
.study .idea .linestudy {
  padding-top: 0;
}
.study .idea p {
  font-size: 14px;
  color: #999999;
  line-height: 1.7;
  width: 535px;
  font-weight: 300;
  margin: 25px auto;
}
.study .idea button {
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 34px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  transition: background 0.2s linear, color 0.2s linear;
}
.study .idea button:hover {
  background: transparent;
  color: #e74c3c;
}
.study .col-12.img {
  position: relative;
  z-index: 1;
}
.study .col-12.img img {
  height: 715px;
}

.testimonials {
  background: url(../img/people-bg.jpg) center center/cover no-repeat;
  height: 505px;
  /*5 columns*/
}
.testimonials .container {
  padding-top: 155px;
}
.testimonials h2 {
  color: #fff;
  margin-top: 45px;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.8;
}
.testimonials p {
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  opacity: 0.8;
}
.testimonials .col-xs-5th,
.testimonials .col-sm-5th,
.testimonials .col-md-5th,
.testimonials .col-lg-5th {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left;
}
.testimonials .col-5-th {
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 768px) {
  .testimonials .col-sm-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .testimonials .col-md-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .testimonials .col-lg-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .testimonials .col-md-5th {
    width: 33%;
    float: none;
    display: block;
    flex: 0 0 33%;
    max-width: 33%;
  }
  .testimonials .col-md-5th.col-sm-5th {
    width: 20%;
    float: left;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 769px) {
  .testimonials .col-md-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .testimonials .col-md-5th.col-sm-5th {
    width: 50%;
    float: none;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonials .col-md-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .testimonials .col-md-5th.col-sm-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.pricing {
  text-align: center;
}
.pricing .col-12 {
  margin-bottom: 140px;
  flex: 0;
  max-width: 370px;
  margin-right: 20px;
  width: 370px;
  background: #f4f5f9;
  padding: 0;
}
.pricing .col-12:hover .box {
  background: #e74c3c;
}
.pricing .col-12:hover .price h3 {
  color: #e74c3c;
}
.pricing .col-12:hover button {
  background-color: #e74c3c;
}
.pricing .pricing-header h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  padding-top: 150px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pricing .pricing-header p {
  margin-top: 25px;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 30px;
}
.pricing .pricing-header img {
  margin-bottom: 65px;
}
.pricing .box {
  transition: background 0.2s linear;
  position: relative;
  width: 370px;
  height: 200px;
  background: #999999;
}
.pricing .box h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 1px;
  padding-top: 45px;
  text-transform: uppercase;
}
.pricing .price {
  position: absolute;
  top: 120px;
  left: 25%;
}
.pricing .price .price-text {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -33px;
  color: #999999;
}
.pricing .price .price-text h3 {
  transition: color 0.2s linear;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.pricing .price .price-text p {
  margin-top: 0;
  font-size: 13px;
  font-weight: 400;
}
.pricing .pricing-par {
  color: #999999;
  line-height: 40px;
  font-weight: 600;
  opacity: 0.8;
  padding-top: 130px;
}
.pricing button {
  transition: background-color 0.2s linear;
  margin-top: 40px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  background-color: #999999;
  padding: 15px 27px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.team {
  overflow: hidden;
  position: relative;
  background: url(../img/team-bg.jpg) center center/cover no-repeat;
}
.team .team-header {
  text-align: center;
}
.team .team-header h1 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 140px;
}
.team .team-header p {
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}
.team .team-header img {
  margin-top: 30px;
}
.team .team-people {
  height: 540px;
}
.team .team-people .row {
  background: url(../img/team-line.png) center/cover no-repeat;
}
.team .team-people h1 {
  width: 10px;
  padding-top: 80px;
  font-size: 0px;
  color: #e74c3c;
  font-weight: 700;
}
.team .team-people p {
  width: 10px;
  color: #fff;
  font-size: 0px;
  margin-top: 15px;
}
.team .team-people .flyingtext {
  position: relative;
  top: -100px;
  transition: all 0.2s linear;
}
.team .team-people .people1 {
  text-align: center;
  position: absolute;
  bottom: 125px;
  left: 20%;
}
.team .team-people .people1:hover:after {
  top: 80px;
  height: 1px;
  left: 48px;
}
.team .team-people .people1:hover img {
  left: 1px;
  bottom: 7px;
  transform: scale(1.53);
  border: 2.5px solid #e74c3c;
  box-shadow: 0 0 10px #000;
}
.team .team-people .people1:hover .flyingtext {
  top: 0;
}
.team .team-people .people1:hover h1 {
  width: 140px;
  font-size: 24px;
}
.team .team-people .people1:hover p {
  width: 120px;
  font-size: 14px;
}
.team .team-people .people1:hover .bg {
  left: 47px;
  top: -6px;
  background: rgba(255, 76, 60, 0.5);
  transform: scale(1.53);
}
.team .team-people .people1:after {
  top: 40px;
  left: 50px;
  content: "";
  width: 45px;
  height: 0px;
  position: absolute;
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 1;
  transition: top 0.3s linear;
}
.team .team-people .people1 img {
  left: 45px;
  bottom: 45px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  position: relative;
  width: 52px;
  height: 52px;
  z-index: 2;
  box-shadow: 0 0 0 #000;
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.team .team-people .people1 .bg {
  width: 52px;
  height: 52px;
  background: transparent;
  left: 45px;
  position: absolute;
  top: -45px;
  border-radius: 50%;
  z-index: 11;
  transition: transform 0.2s linear, background 0.2s linear;
}
.team .team-people .people2 {
  text-align: center;
  position: absolute;
  bottom: 165px;
  left: 35%;
}
.team .team-people .people2:hover:after {
  top: 85px;
  height: 1px;
}
.team .team-people .people2:hover img {
  left: -2px;
  bottom: 4px;
  transform: scale(1.53);
  border: 2.5px solid #e74c3c;
  box-shadow: 0 0 10px #000;
}
.team .team-people .people2:hover .flyingtext {
  top: 0;
}
.team .team-people .people2:hover h1 {
  width: 140px;
  font-size: 24px;
}
.team .team-people .people2:hover p {
  width: 120px;
  font-size: 14px;
}
.team .team-people .people2:hover .bg {
  left: 43px;
  top: -3px;
  background: rgba(255, 76, 60, 0.5);
  transform: scale(1.53);
}
.team .team-people .people2:after {
  top: 40px;
  left: 47px;
  content: "";
  width: 45px;
  height: 0px;
  position: absolute;
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 1;
  transition: top 0.3s linear;
}
.team .team-people .people2 img {
  left: 42px;
  bottom: 42px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  position: relative;
  width: 52px;
  height: 52px;
  z-index: 2;
  box-shadow: 0 0 0 #000;
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.1s linear;
}
.team .team-people .people2 .bg {
  width: 52px;
  height: 52px;
  background: transparent;
  left: 42px;
  position: absolute;
  top: -42px;
  border-radius: 50%;
  z-index: 11;
  transition: transform 0.2s linear, background 0.2s linear;
}
.team .team-people .people3 {
  text-align: center;
  position: absolute;
  bottom: 165px;
  left: 50%;
}
.team .team-people .people3:hover:after {
  top: 90px;
  height: 1px;
}
.team .team-people .people3:hover img {
  left: -4px;
  bottom: -8px;
  transform: scale(1.53);
  border: 2.5px solid #e74c3c;
  box-shadow: 0 0 10px #000;
}
.team .team-people .people3:hover .flyingtext {
  top: 0;
}
.team .team-people .people3:hover h1 {
  width: 140px;
  font-size: 24px;
}
.team .team-people .people3:hover p {
  width: 120px;
  font-size: 14px;
}
.team .team-people .people3:hover .bg {
  left: 41px;
  top: 9px;
  background: rgba(255, 76, 60, 0.5);
  transform: scale(1.53);
}
.team .team-people .people3:after {
  top: 45px;
  left: 45px;
  content: "";
  width: 45px;
  height: 0px;
  position: absolute;
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 1;
  transition: top 0.3s linear;
}
.team .team-people .people3 img {
  left: 40px;
  bottom: 30px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0 #000;
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.1s linear;
}
.team .team-people .people3 .bg {
  width: 52px;
  height: 52px;
  background: transparent;
  left: 40px;
  position: absolute;
  top: -30px;
  border-radius: 50%;
  z-index: 11;
  transition: transform 0.2s linear, background 0.2s linear;
}
.team .team-people .people4 {
  text-align: center;
  position: absolute;
  bottom: 130px;
  left: 65%;
}
.team .team-people .people4:hover:after {
  top: 85px;
  height: 1px;
}
.team .team-people .people4:hover img {
  left: -8px;
  bottom: -2.3px;
  transform: scale(1.53);
  border: 2.5px solid #e74c3c;
  box-shadow: 0 0 10px #000;
}
.team .team-people .people4:hover .flyingtext {
  top: 0;
}
.team .team-people .people4:hover h1 {
  width: 115px;
  font-size: 24px;
}
.team .team-people .people4:hover p {
  width: 120px;
  font-size: 14px;
}
.team .team-people .people4:hover .bg {
  left: 26px;
  top: 4px;
  background: rgba(255, 76, 60, 0.5);
  transform: scale(1.53);
}
.team .team-people .people4:after {
  top: 48px;
  left: 32px;
  content: "";
  width: 45px;
  height: 0px;
  position: absolute;
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 1;
  transition: top 0.3s linear;
}
.team .team-people .people4 img {
  left: 26px;
  bottom: 35px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  box-shadow: 0 0 0 #000;
  position: relative;
  z-index: 2;
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.1s linear;
}
.team .team-people .people4 .bg {
  width: 52px;
  height: 52px;
  background: transparent;
  left: 26px;
  position: absolute;
  top: -35px;
  border-radius: 50%;
  z-index: 11;
  transition: transform 0.2s linear, background 0.2s linear;
}
.team .team-people .people5 {
  text-align: center;
  position: absolute;
  bottom: 200px;
  left: 80%;
}
.team .team-people .people5:hover:after {
  top: 80px;
  height: 1px;
}
.team .team-people .people5:hover img {
  left: -8px;
  bottom: 2px;
  transform: scale(1.53);
  border: 2.5px solid #e74c3c;
  box-shadow: 0 0 10px #000;
}
.team .team-people .people5:hover .flyingtext {
  top: 0;
}
.team .team-people .people5:hover h1 {
  width: 117px;
  font-size: 24px;
}
.team .team-people .people5:hover p {
  width: 120px;
  font-size: 14px;
}
.team .team-people .people5:hover .bg {
  left: 26px;
  top: -1px;
  background: rgba(255, 76, 60, 0.5);
  transform: scale(1.53);
}
.team .team-people .people5:after {
  top: 45px;
  left: 33px;
  content: "";
  width: 45px;
  height: 0px;
  position: absolute;
  transform: rotate(90deg);
  background-color: #fff;
  z-index: 1;
  transition: top 0.3s linear;
}
.team .team-people .people5 img {
  left: 26px;
  bottom: 40px;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  position: relative;
  width: 52px;
  height: 52px;
  box-shadow: 0 0 0 #000;
  z-index: 2;
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.1s linear;
}
.team .team-people .people5 .bg {
  width: 52px;
  height: 52px;
  background: transparent;
  left: 26px;
  position: absolute;
  top: -40px;
  border-radius: 50%;
  z-index: 11;
  transition: transform 0.2s linear, background 0.2s linear;
}

.integration {
  border-bottom: 1px solid #999999;
  background: #f4f5f9;
}
.integration .row:first-child {
  margin-top: 26px;
}
.integration .row:last-child {
  padding-bottom: 140px;
}
.integration .integration-header {
  text-align: center;
}
.integration h1 {
  padding-top: 140px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}
.integration p {
  line-height: 1.6;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  width: 620px;
  margin: 25px auto;
}

.logotypes {
  position: relative;
  background: #fff;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0 0 10px #e6e7eb;
  transition: transform 0.2s linear;
}
.logotypes:hover {
  transform: scale(1.2);
}
.logotypes:hover img {
  opacity: 1;
}
.logotypes img {
  display: block;
  margin: 0 auto;
  opacity: 0.4;
  transition: opacity 0.3s linear;
}
.logotypes .logo1 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo2 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo3 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo4 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo5 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo6 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo7 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo8 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}
.logotypes .logo9 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logotypes .logo10 {
  position: absolute;
  margin: auto;
  top: 0;
  left: -20px;
  right: 0;
  width: 170px;
  bottom: 0;
}

/*5 columns*/
.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left;
}

.col-5-th {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 768px) {
  .col-sm-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .col-md-5th {
    width: 33%;
    float: none;
    display: block;
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-md-5th.col-sm-5th {
    width: 20%;
    float: left;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 769px) {
  .col-md-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-5th.col-sm-5th {
    width: 50%;
    float: none;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-md-5th.col-sm-5th {
    width: 100%;
    float: none;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.blog {
  background: #f4f5f9;
}
.blog .blog-header {
  text-align: center;
}
.blog .col-12 {
  background: #e74c3c;
  padding: 0;
}
.blog .col-12 img {
  width: 100%;
  height: 100%;
}
.blog .row.one {
  padding-top: 60px;
}
.blog .row.one .col-12 {
  position: relative;
}
.blog .row.one .col-12 .threeangl:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -30px;
  border: 30px solid transparent;
  border-right: 30px solid #e74c3c;
}
.blog .row.two .col-12 {
  position: relative;
}
.blog .row.two .col-12 .threeangl:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -30px;
  border: 30px solid transparent;
  border-left: 30px solid #e74c3c;
}
.blog h1 {
  padding-top: 120px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}
.blog p {
  line-height: 1.6;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  width: 620px;
  margin: 25px auto;
}
.blog .blog-description {
  margin-left: 50px;
  margin-top: 75px;
}
.blog .blog-description p, .blog .blog-description h2 {
  margin: 0;
}
.blog .blog-description p {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  width: 370px;
  line-height: 1.8;
}
.blog .blog-description p span {
  margin: 0 4px;
}
.blog .blog-description h2 {
  opacity: 0.8;
  font-size: 24px;
  position: relative;
  color: #fff;
  font-weight: 500;
  padding-bottom: 15px;
  margin-bottom: 55px;
  margin-top: 24px;
  text-transform: uppercase;
}
.blog .blog-description h2:after {
  bottom: 0;
  left: 0;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #fff;
  position: absolute;
}
.blog .blog-description button {
  margin-top: 50px;
  background: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 60px;
  transition: transform 0.2s linear;
}
.blog .blog-description button span {
  position: relative;
  right: 0;
  left: 0;
  transition: left 0.2s linear;
}
.blog .blog-description button:hover {
  transform: scale(1.02);
}
.blog .blog-description button:hover span {
  position: relative;
  left: 8px;
}

.contacts {
  background: #f4f5f9;
}
.contacts .row {
  margin-top: 65px;
}
.contacts .contacts-header {
  text-align: center;
}
.contacts .row {
  padding-bottom: 150px;
}
.contacts .container {
  padding: 0;
}
.contacts .contacts-header h1 {
  padding-top: 150px;
  color: #6a6a6a;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts .contacts-header p {
  line-height: 1.6;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0 20px 0;
}
.contacts .col-12 {
  padding: 0;
}
.contacts .col-12 h1 {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #e74e3e;
  margin: 0;
  padding: 0;
}
.contacts .col-12 p {
  letter-spacing: 1px;
  margin: 20px 0 0 0;
  line-height: 1.6;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
.contacts .col-12 .contact {
  box-shadow: 0 3px 5px #cececf;
  height: 560px;
  width: 476px;
  background: #fff;
}
.contacts .col-12 .contact .address, .contacts .col-12 .contact .call, .contacts .col-12 .contact .email {
  margin-left: 90px;
}
.contacts .col-12 .contact .address {
  padding-top: 100px;
}
.contacts .col-12 .contact .call, .contacts .col-12 .contact .email {
  margin-top: 65px;
}
.contacts .col-12 {
  padding: 0;
}
.contacts .col-12 .forminside {
  box-shadow: 0 3px 5px #cececf;
  position: relative;
  left: 21px;
  width: 665px;
  height: 560px;
  background: #fff;
}
.contacts .col-12 .form {
  width: 470px;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 100px;
}
.contacts .col-12 .form textarea {
  resize: none;
}
.contacts .col-12 .form input {
  width: 470px;
  height: 35px;
  border-bottom: 2px solid #f4f5f9;
}
.contacts .col-12 .form input[type=email], .contacts .col-12 .form input[type=subject], .contacts .col-12 .form textarea {
  margin-top: 25px;
}
.contacts .col-12 .form textarea {
  border-bottom: 2px solid #f4f5f9;
  height: 115px;
  width: 470px;
}
.contacts .col-12 .form button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  width: 154px;
  height: 44px;
  border-radius: 3px;
  background: #e74e3e;
  margin-top: 30px;
  border: 1px solid #e74e3e;
  transition: background 0.2s linear, color 0.2s linear;
}
.contacts .col-12 .form button:hover {
  background: transparent;
  color: #e74e3e;
}

.start {
  height: 475px;
  background: url(../img/footer-bg.jpg) center center/cover no-repeat;
  text-align: center;
}
.start h1 {
  padding-top: 150px;
  letter-spacing: 0.5px;
  font-size: 36px;
  color: #fff;
}
.start h1 span {
  font-weight: 700;
}
.start p {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.5px;
  opacity: 0.9;
  font-weight: 200;
  margin-top: 15px;
}
.start button {
  background: #e74e3e;
  padding: 19px 49px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 65px;
  border: 1px solid transparent;
  transition: background 0.2s linear, color 0.2s linear;
}
.start button:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

footer {
  height: 80px;
  background: #202020;
}
footer p {
  text-align: right;
  color: #999999;
  margin-top: 33px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.75;
  letter-spacing: 0.5px;
}
footer .social {
  display: flex;
  position: relative;
  top: 30px;
}
footer .social a {
  width: 20px;
  height: 20px;
  margin: 0 7px;
}
footer .social svg path, footer .social svg polygon, footer .social svg circle {
  fill: #8f8f8f;
  transition: fill 0.1s linear;
}
footer .social svg:hover path, footer .social svg:hover polygon, footer .social svg:hover circle {
  fill: #e74c3c;
}

.burger {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
}
.burger span {
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  background-color: #fff;
}
.burger span:before, .burger span:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s linear;
}
.burger span:before {
  top: -13.5px;
}
.burger span:after {
  top: 13.5px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.header-intro .col-12 {
  min-height: 632px;
  padding: 0 70px;
}

.header-intro .slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  opacity: 0.8;
  height: 40px;
}

.header-intro .slick-arrow.slick-prev {
  left: 0;
  margin-left: 40px;
  position: absolute;
  z-index: 999999;
  font-size: 0;
  background: #6a6a6a;
  transition: background 0.2s linear;
}
.header-intro .slick-arrow.slick-prev:before, .header-intro .slick-arrow.slick-prev:after {
  content: "";
  width: 15px;
  height: 2px;
  left: 50%;
  margin-left: -7px;
  background-color: #40372f;
  position: absolute;
  transition: background-color 0.2s linear;
}
.header-intro .slick-arrow.slick-prev:before {
  transform: rotate(-45deg);
  top: 14px;
}
.header-intro .slick-arrow.slick-prev:after {
  transform: rotate(45deg);
  bottom: 14px;
}
.header-intro .slick-arrow.slick-prev:hover {
  background: #e74c3c;
}
.header-intro .slick-arrow.slick-prev:hover:before, .header-intro .slick-arrow.slick-prev:hover:after {
  background-color: #fff;
}

.header-intro .slick-arrow.slick-next {
  right: 0;
  margin-right: 40px;
  font-size: 0;
  background: #6a6a6a;
  transition: background 0.2s linear;
}
.header-intro .slick-arrow.slick-next:before, .header-intro .slick-arrow.slick-next:after {
  content: "";
  width: 15px;
  height: 2px;
  left: 50%;
  margin-left: -7px;
  background-color: #4c3c2c;
  position: absolute;
  transition: background-color 0.2s linear;
}
.header-intro .slick-arrow.slick-next:before {
  transform: rotate(-45deg);
  bottom: 14px;
}
.header-intro .slick-arrow.slick-next:after {
  transform: rotate(45deg);
  top: 14px;
}
.header-intro .slick-arrow.slick-next:hover {
  background: #e74c3c;
}
.header-intro .slick-arrow.slick-next:hover:before, .header-intro .slick-arrow.slick-next:hover:after {
  background-color: #fff;
}

/*SERVICE-SLIDER*/
.col-12.slider .slick-arrow {
  font-size: 0;
}

.col-12.slider .slick-track {
  display: block;
}

.col-12 .slider {
  overflow: hidden;
  max-height: 760px;
}

.col-12.slider .slick-dots {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: 50px;
}

.slider .slick-dots li {
  margin-top: 10px;
  list-style: none;
}

.col-12.slider .slick-dots li.slick-active button {
  width: 3px;
  background-color: #e74e3e;
}

.col-12.slider .slick-dots li button {
  font-size: 0;
  width: 1px;
  height: 33px;
  background-color: #6a6a6a;
  opacity: 0.9;
}

/*STUDY SLIDER*/
section.study .container .idea .slick-arrow {
  font-size: 0;
  border-radius: 0;
  margin-top: 0;
  color: transparent;
  font-size: 0;
  padding: 0;
  background: 0;
  border: 0;
}

.idea .slick-dots {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
}

.idea .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #999999;
  border-radius: 50%;
  margin-top: 0;
  font-size: 0;
  padding: 0;
  border: 0;
}
.idea .slick-dots li button:hover {
  background: #999999;
}

.idea .slick-dots li {
  margin-right: 5px;
}

.idea .slick-dots li.slick-active button {
  background-color: #e74e3e;
}

/*MEDIA*/
/*TEAM PEOPLE*/
@media (max-width: 1850px) {
  .team-line {
    height: 100%;
  }

  .team .team-people .people5 {
    bottom: 175px;
  }
}
@media (max-width: 1610px) {
  .team .team-people .people5 {
    bottom: 150px;
  }

  .team .team-people .people1 {
    bottom: 135px;
  }
}
@media (max-width: 1580px) {
  .blog .blog-description p {
    width: auto;
  }
}
@media (max-width: 1390px) {
  .team .team-people .people5 {
    bottom: 145px;
  }

  .team .team-people .people1 {
    bottom: 155px;
  }
}
@media (max-width: 1250px) {
  .team .team-people .people5 {
    bottom: 135px;
  }

  .services .description p {
    white-space: normal;
  }

  .services {
    min-height: auto;
    height: auto;
  }

  .services .col-6 img.laptop {
    height: 100%;
  }

  .services h1, .services .description h3, .services .description p {
    margin-right: 30px;
  }

  .blog .blog-description {
    margin-top: 50px;
    margin-left: 25px;
  }

  .blog .blog-description h2 {
    margin-bottom: 40px;
  }

  .blog .blog-description button {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .blog .blog-description {
    margin-top: 70px;
    margin-left: 50px;
  }

  .blog .blog-description h2 {
    margin-bottom: 60px;
  }

  .blog .blog-description button {
    margin-top: 55px;
    margin-bottom: 60px;
  }

  .blog .blog-description p {
    line-height: 1.8;
  }
}
@media (max-width: 1169.98px) {
  .blog .row.one .col-12 .threeangl.num2 {
    position: absolute;
    left: -1px;
    top: 50%;
  }

  .blog .row.one .col-12 .threeangl.num2:before {
    border-left: 30px solid #e74c3c;
    border-right: 0;
    left: -1px;
  }

  .blog .row.two .col-12 .threeangl.num3 {
    position: absolute;
    right: -1px;
    top: 50%;
    left: auto;
  }

  .blog .row.two .col-12 .threeangl.num3:before {
    border-right: 30px solid #e74c3c;
    border-left: 0;
    right: 0;
    left: auto;
  }

  .pricing .starter {
    padding-right: 20px;
  }

  .pricing .premium {
    padding-left: 20px;
  }

  .pricing .business {
    position: relative;
    left: 50%;
    margin-left: -240px;
  }

  .pricing .box {
    width: 100%;
  }

  .pricing .price {
    left: 50%;
    margin-left: -87px;
  }

  .pricing .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 0;
    background: #fff;
  }

  .history .col-6 img {
    width: 100%;
    padding-right: 50px;
  }

  .services .description p {
    padding-left: 10px;
  }

  .study .idea {
    right: -40%;
  }

  .header-top .nav ul li {
    margin: 0 17px !important;
  }

  .header .header-top .nav ul li:last-child {
    margin: 0 0 0 18px;
  }

  .header-top .nav ul li a {
    font-size: 14px;
  }

  .description .par1 {
    width: 470px;
  }

  .description .par3 {
    width: 470px;
  }

  .price {
    left: 20%;
  }

  .logotypes {
    width: 160px;
  }

  .logotypes .logo1, .logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8, .logo9, .logo10 {
    width: 110px;
  }

  .logotypes .logo8 {
    width: 151px;
    left: 8px;
  }

  .logotypes .logo6 {
    width: 151px;
  }

  .logotypes .logo10 {
    width: 141px;
  }

  .blog .row.one .col-12 .threeangl:before {
    right: -1px;
  }

  .blog .row.two .col-12 .threeangl:before {
    left: -1px;
  }

  .blog .blog-description button {
    margin-bottom: 50px;
  }

  .contacts .col-7 .forminside {
    width: auto;
  }

  .contacts .col-7 .form input {
    width: auto;
  }

  .contacts .col-7 .form textarea {
    width: auto;
  }
}
@media (max-width: 992px) {
  .study .idea {
    position: relative;
    right: 0;
    width: auto;
    top: 0;
    min-height: 630px;
    height: auto;
  }

  .study .col-12.img img {
    height: auto;
    width: 100%;
  }

  .logotypes.mobile {
    position: relative;
    left: 55%;
  }

  .adaptive {
    left: 16%;
    margin-top: 20px;
  }

  .adaptive2 {
    left: 19%;
    margin-top: 20px;
  }

  .testimonials {
    height: auto;
  }
  .testimonials .row {
    padding-bottom: 50px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999999999;
    top: -10px;
  }

  .burger-active span {
    height: 0;
  }
  .burger-active span:after {
    transform: rotate(45deg);
    top: 0;
  }
  .burger-active span:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav {
    position: fixed;
    right: 0;
    height: 200vw;
    background: rgba(231, 76, 60, 0.8);
    width: 30vw;
    top: 0;
    z-index: 9999999;
    transform: translateX(100%);
    transition: transform 0.2s linear;
  }

  .nav.show {
    transform: translateX(0);
  }

  .header .header-top .nav ul {
    display: block;
    margin-top: 150px;
    text-align: center;
    align-items: center;
  }

  body .header .header-top .nav ul li {
    margin: 30px 0 !important;
  }
  body .header .header-top .nav ul li a {
    font-size: 25px;
  }

  .team .team-people .people1 {
    bottom: 135px;
    left: 0;
  }

  .team .team-people .people4 {
    bottom: 145px;
  }

  .team .team-people .people2 {
    left: 20%;
  }

  .team .team-people .people3 {
    left: 40%;
  }

  .team .team-people .people4 {
    left: 60%;
  }

  .team .team-people .people5 {
    left: 80%;
    bottom: 120px;
  }

  .pricing .business {
    margin-left: -190px;
  }

  .works-header nav.works-nav ul {
    text-align: center;
    display: block;
  }
  .works-header nav.works-nav ul li {
    margin: 10px 0;
    font-size: 25px;
  }
  .works-header nav.works-nav ul li a {
    font-size: 25px;
  }

  .works-header {
    height: auto;
  }

  .slash {
    display: none;
  }

  /*intro*/
  .header, .header .row, .header-intro .col-12 {
    height: auto;
  }

  .header .header-intro h3 {
    margin-top: 150px;
  }

  .header-intro {
    padding-bottom: 100px;
  }

  .services .description p {
    font-size: 16px;
  }

  .header .header-intro p {
    font-size: 17px;
  }

  .features p, .history .row p {
    font-size: 17px;
  }

  .features h3 {
    font-size: 20px;
  }

  .services .col-12 img.laptop {
    height: auto;
  }

  .study {
    padding-bottom: 75px;
  }

  .study .study-header {
    padding-top: 75px;
  }

  .team .team-header h1 {
    padding-top: 120px;
  }

  .works-header h1 {
    margin-top: 75px;
  }

  .pricing .business {
    margin-left: -135px;
  }

  .integration h1 {
    padding-top: 70px;
  }

  .integration .row:last-child {
    padding-bottom: 70px;
  }

  .blog h1 {
    padding-top: 60px;
  }

  .testimonials .container {
    padding-top: 70px;
  }

  .pricing .pricing-header h1 {
    padding-top: 70px;
  }

  .pricing .col-12 {
    margin-bottom: 60px;
  }

  .contacts .col-12 .contact {
    width: auto;
    height: auto;
  }

  .contacts .col-12 .forminside {
    width: auto;
    left: 0;
  }

  .contacts .col-12 .form input, .contacts .col-12 .form textarea {
    width: auto;
  }

  .contacts .col-12 .contact .address {
    padding-top: 50px;
    margin-left: 45px;
  }

  .contacts .col-12 .contact .address, .contacts .col-12 .contact .call, .contacts .col-12 .contact .email {
    margin-left: 45px;
  }

  .contacts .col-12 .form {
    padding: 50px 45px;
  }

  .contacts .col-12 .forminside {
    height: auto;
  }

  .contacts .contacts-header h1 {
    padding-top: 75px;
  }

  .contacts .row {
    padding-bottom: 75px;
  }

  .features {
    padding-bottom: 50px;
  }

  .history .row {
    padding: 70px 0;
  }

  .works-header nav.works-nav {
    margin-top: 30px;
  }

  .email {
    padding-bottom: 20px;
  }
}
@media (max-width: 774px) {
  .team .team-people .people1 {
    bottom: 140px;
  }
}
@media (max-width: 767.98px) {
  .header-top {
    padding-top: 20px;
  }

  .history .row h1 {
    padding-top: 20px;
  }

  .services .circlee {
    top: -20px;
    display: flex;
    left: 50%;
    margin-left: -139.5px;
  }

  .services .services-circle {
    margin-top: 0;
  }

  .services h1 {
    margin-top: 110px;
  }

  .services .services-circle {
    margin: 0 10px;
  }

  .header .header-intro p {
    width: auto;
  }

  .header .header-intro .buttons {
    margin-top: 10px;
  }

  .header .header-intro .btn2 {
    margin-top: 10px;
  }

  .header .header-intro .btn2 {
    padding: 18px 60px;
  }

  .header .header-intro .btn1 {
    padding: 18px 40px;
  }

  .adaptive {
    left: 0;
    margin-top: 0;
  }

  .adaptive2 {
    left: 50%;
    margin-left: -135px;
    margin-top: 0;
  }

  .testimonials .col-md-5th {
    width: 50%;
    max-width: 50%;
    margin-top: 10px;
    flex: 0 0 50%;
  }

  .integration .col-md-5th {
    width: 50%;
    max-width: 50%;
    margin-top: 10px;
    flex: 0 0 50%;
  }

  .logotypes.mobile {
    left: 0;
  }

  .header .header-intro h3 {
    margin-top: 75px;
  }

  .services .description p {
    padding-left: 20px;
  }

  .contacts .col-12 .form input[type=email], .contacts .col-12 .form input[type=subject], .contacts .col-12 .form textarea {
    font-size: 17px;
  }

  .contacts .col-12 .form input {
    font-size: 17px;
  }

  .study .idea p {
    font-size: 16px;
    padding: 0 40px;
  }

  .study .idea button {
    margin-bottom: 20px;
  }

  .blog .blog-description p {
    font-size: 17px;
  }

  .contacts .col-12 p {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .study .study-header {
    padding-top: 20px;
  }

  .threeangl {
    display: none;
  }

  .blog .blog-description button {
    font-size: 22px;
  }

  footer p {
    text-align: center;
  }

  .features .col-12 {
    margin-top: 50px;
  }

  .history .row .col-12 {
    padding: auto;
  }

  .header .row {
    padding: 0 10px;
  }

  .services .description p {
    line-height: 1.5;
  }

  .history .row h1, .features p, .history .row p, .history .row button {
    margin-left: 15px;
    font-size: 16px;
  }

  .study .idea p {
    width: auto;
  }

  .pricing button, .works-header p, .study .study-header p, .pricing .pricing-header p, .pricing .pricing-par {
    font-size: 16px;
  }

  .team .team-header p {
    font-size: 16px;
  }

  .pricing .box h1 {
    font-size: 27px;
  }

  .study .idea img {
    padding-top: 0;
  }

  .works-header nav.works-nav ul li a {
    font-size: 20px;
  }

  .study .idea button {
    margin-bottom: 30px;
  }

  .team .team-people .people1 {
    bottom: 160px;
  }

  .blog .blog-description {
    margin-top: 35px;
  }

  .contacts .col-12 .contact .call, .contacts .col-12 .contact .email {
    margin-top: 30px;
  }

  header.header .header-fixed .row {
    height: 50px;
  }

  .burger span {
    margin: 0;
  }

  .header .col-4 img {
    width: 100px;
  }

  body .header .header-top .nav ul li a {
    font-size: 20px;
  }

  .nav {
    width: 35vw;
  }

  .pricing .business {
    margin-left: 0;
    left: 0;
  }

  .blog p {
    width: auto;
    font-size: 16px;
  }

  .pricing .col-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contacts .contacts-header p {
    font-size: 16px;
  }

  .pricing .starter {
    padding-right: 0;
  }

  .pricing .premium {
    padding-left: 0;
  }

  .header .header-intro h1 {
    font-size: 35px;
  }

  .header .header-intro h3 {
    margin-top: 40px;
  }

  .header .header-intro button {
    font-size: 12px;
  }

  .header .header-intro .underline {
    margin: 20px 0;
  }

  .header .header-intro p {
    line-height: 1.4;
  }

  .team .team-header h1, .integration h1 {
    font-size: 30px;
  }

  .start {
    height: auto;
  }

  .start button {
    margin-bottom: 30px;
  }

  .integration p {
    width: auto;
    font-size: 16px;
  }

  .start h1 {
    padding-top: 50px;
  }

  .start h1 {
    font-size: 20px;
  }

  .testimonials h2 {
    margin-top: 10px;
  }

  .header .header-intro h3 {
    font-size: 20px;
  }

  .history img {
    width: 100%;
  }

  .history .row p {
    line-height: 1.5;
  }

  .adaptive2 {
    left: 50%;
    margin-left: -90px;
  }

  /*team*/
  .team {
    background: url(../img/mobile-bg.jpg) center/cover no-repeat;
  }

  .team .team-people .people1 {
    bottom: 200px;
  }

  .team .team-people .people2 {
    bottom: 205px;
  }

  .team .team-people .people3 {
    bottom: 218px;
  }

  .team .team-people .people4 {
    bottom: 213px;
  }

  .team .team-people .people5 {
    bottom: 209px;
  }
}

@media (max-width: 360px) {
	.team .team-people .people2{
		left: 60px;
		bottom: 215px;
	}

	.team .team-people .people3 {
		left: 120px;
		bottom: 228px;
	}

	.team .team-people .people4 {
		left: 190px;
		bottom: 223px;
	}

	.team .team-people .people5 {
		left: 250px;
		bottom: 219px;
	}

	.team .team-people .people1 {
		bottom: 210px
	}
}
